body{font-family:Arial;background:#eef2f7;text-align:center}
.card{background:#fff;padding:15px;margin:10px auto;width:90%;max-width:400px;border-radius:10px}
input,button{padding:10px;margin:5px;width:90%}
button{background:#0b84ff;color:#fff;border:none;border-radius:5px}
.popup{background:#0b84ff;color:#fff;padding:10px;margin:5px;border-radius:8px}
#popupContainer{position:fixed;bottom:10px;right:10px}
